.Gif {
  --color-subtitles-and-titles: #0CECDD;
  cursor: pointer;
  margin: auto;
  height: 400px;
  overflow: hidden;
  max-height: 428px;
  min-height: 200px;
  min-width: 100px;
  max-width: 376px;
  transition: box-shadow 40ms ;
  box-shadow:
    3px -4px 0 var(--color-subtitles-and-titles),
    -3px -4px 0 var(--color-subtitles-and-titles),
    3px 4px 0 var(--color-subtitles-and-titles), 
    -3px 4px 0 var(--color-subtitles-and-titles),
      3px 7px 4px rgba(8, 2, 61, 0.7),
      -3px 7px 4px rgba(8, 2, 61, 0.7),
        2px 10px 0 var(--color-subtitles-and-titles),
        -2px 10px 0 var(--color-subtitles-and-titles),
          2px 14px 4px rgba(8, 2, 61, 0.7),
          -2px 14px 4px rgba(58, 57, 66, 0.7),
            1px 18px 0 var(--color-subtitles-and-titles),
            -1px 18px 0 var(--color-subtitles-and-titles),
              2px 24px 6px rgba(0, 0, 0, 0.219),
              2px 24px 6px rgba(0, 0, 0, 0.219);

}

.Gif img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  min-height: 430px;
  filter: brightness(0.8);
}

.Gif h3 {
  max-width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0.3),
    rgba(138, 120, 120, 0.1)
  );
  margin: 0;
  position: relative;
  z-index: 1;
  transform: translateY(-2rem);
  height: 1.5rem;
  max-height: 1.5rem;
  overflow: hidden;
  top: 0;
  padding: 0;
  margin-bottom: -2rem;
  transition: transform 0.5s;
  font-size: 14px;
}
.Gif:hover h3 {
  transform: translateY(0rem);
}
.Gif:hover img{
  transform: scale(1.5);
}

.Gif:hover{
  box-shadow:
  3px -4px 0 var(--color-subtitles-and-titles),
  -3px -4px 0 var(--color-subtitles-and-titles),

  3px 4px 0 var(--color-subtitles-and-titles), 
  -3px 4px 0 var(--color-subtitles-and-titles),
    3px 7px 4px rgba(8, 2, 61, 0.7),
    -3px 7px 4px rgba(8, 2, 61, 0.7),

      2px 8px 0 var(--color-subtitles-and-titles),
      -2px 8px 0 var(--color-subtitles-and-titles),
        2px 12px 4px rgba(8, 2, 61, 0.7),
        -2px 12px 4px rgba(58, 57, 66, 0.7),

          1px 14px 0 var(--color-subtitles-and-titles),
          -1px 14px 0 var(--color-subtitles-and-titles),
            2px 20px 6px rgba(0, 0, 0, 0.219),
            2px 20px 6px rgba(0, 0, 0, 0.219);
}