:root {
  --color-principal: #C400FF;
  --color-principal-clarito: #ce2effa4;
  --color-links: #f8ef76;
  --color-subtitles-and-titles: #52ff92;
  --color-other:#710094;
  --color-cards: #0CECDD;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.App {
  text-align: center;
  overflow-x: hidden;
  min-height: 100vh;
}

.App-content {
  background-color: var(--color-principal);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(15px + 2vmin);
  color: white;
  padding: 1rem;
  text-align: center;
  overflow-x: hidden;
}

.App-content a {
  color: white;
}

.App-content > h2 {
  text-shadow: 5px 4px 3px black;
}


.links a {
  font-size: 1rem;
  padding: 0 0.5rem;
  color: var(--color-links);
}

a {
  text-decoration: none;
}
.Title {
  cursor: pointer;
  letter-spacing: 5px;
  font-family: "fantasy";
  color: white;
  font-weight: bold;
  font-size: 4rem;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 2rem 0;
  margin-top: 0rem;
}

.content-form {
  z-index: 999;
  margin: 0rem auto;
  width: 100%;
}

.content-search {
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.search__button {
  border: none;
  cursor: pointer;
  height: 3rem;
  background-color: var(--color-other);
  transform: translateX(-3rem);
  width: 3.2rem;
  padding: 1rem;
}
.search__icon{
  color: var(--color-principal);
  text-align: center;
  margin: auto;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.input-search {
  outline: rgba(255, 255, 255, 0.356) solid;
  border: none;
  font-size: 1.5rem;
  color: var(--color-other);
  height: 1rem;
  width: 400px;
  max-width: 90%;
  padding: 1rem;
  background-color: var(--color-principal-clarito);
}
.input-search::placeholder{
  color: var(--color-other);
}


.gif-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}


.subtitle {
  color: var(--color-subtitles-and-titles);
  font-size: 2rem;
  font-weight: bold;
  align-self: flex-start;
}
